<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <style>
        body{
            height: auto;
        }
        .container{
            margin-top: 60px;
        }
    </style>
</head>
<%- include("partials/header") %>

<div class="main">
  <div class="container" style="background-color: transparent;">
      <h1>Contact Us</h1>
  </div>
  <div class="contact-box">
  <h2>Contact Us</h2>
  <p>We'd love to hear from you! If you have any questions, feedback, or need help using our To-Do List App, feel free to reach out.</p>

  <p><strong>Email:</strong> support@todolistapp.com</p>
  <p><strong>Phone:</strong> ‪+91 9876543210‬</p>
  <p><strong>Address:</strong> 123 Main Street, Roorkee, Uttarakhand, India</p>

  <p>Follow us on social media:</p>
  <ul>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">LinkedIn</a></li>
  </ul>
</div>
</div>

<%- include("partials/footer") %>
